
@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:1500px){

	.wrapper {
		width: 70%;
		margin: 0 auto;
	}
}

@media only screen and (max-width:1200px){

	.wrapper {
		width: 80%;
		margin: 0 auto;
	}
}

@media only screen and (max-width:960px){

	.wrapper {
		width: 85%;
		margin: 0 auto;
	}

	.scrollup {
		bottom: 1%;
	}
}

@media only screen and (max-width:500px){

	.wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.scrollup {
		bottom: 2px;
	}
}

@media only screen and (max-width:390px){

	footer p {
		font-size: 12px;
	}

	.scrollup {
		bottom: 1px;
		font-size: 1.5em;
	}
}